<p>assign-teacher:</p>
<p>Lesson block: {{lessonBlockId}}</p>
<p>Teacher Id: {{teacherId}}</p>
<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()">
      <label for="teacherId">select teacher: </label>
      <select id="teacherId"
              [(ngModel)]="teacherId"
              name="teacherId">
        <option [value]="teacher.id" *ngFor="let teacher of teachers">
          {{teacher.username}}
        </option>
      </select>
      <button type="submit" class="btn btn-info">Assign</button>
    </form>
  </div>
</div>
