<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">type</th>
        <th scope="col">username</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td >{{ user.id }}</td>
          <td>{{ user.type }}</td>
          <td>{{ user.username }}</td>
          <a routerLink="/users/{{user.id}}" class="btn btn-info">details</a>
        </tr>
      </tbody>
    </table>
  </div>
</div>
